!!! 5
%html
  %head
    %title Job Board
    = stylesheet_link_tag "screen.css", :media => "screen, projection"
    = stylesheet_link_tag "print.css", :media => "print"
    /[if lt IE 8]
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    = yield
